In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../../1_datasets/synthetic_retail_data.csv', parse_dates=['Date'], index_col='Date')
data.head()

,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
Date,,,,,,,,,,,,,,
2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [4]:
data['Store ID'].unique()

array(['S001', 'S002', 'S003', 'S004', 'S005'], dtype=object)

In [16]:
all_stores_grouped = data.groupby('Store ID')
store_01 = all_stores_grouped.get_group("S001").drop("Store ID", axis=1)
store_02 = all_stores_grouped.get_group("S002").drop("Store ID", axis=1)
store_03 = all_stores_grouped.get_group("S003").drop("Store ID", axis=1)
store_04 = all_stores_grouped.get_group("S004").drop("Store ID", axis=1)
store_05 = all_stores_grouped.get_group("S005").drop("Store ID", axis=1)

In [18]:
store_01.head(10)

,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
Date,,,,,,,,,,,,,
2022-01-01,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
2022-01-01,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2022-01-01,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
2022-01-01,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
2022-01-01,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
2022-01-01,P0006,Groceries,South,138,128,102,139.82,76.83,10,Sunny,1,79.35,Winter
2022-01-01,P0007,Furniture,East,359,97,167,108.92,34.16,10,Rainy,1,36.55,Winter
2022-01-01,P0008,Clothing,North,380,312,54,329.73,97.99,5,Cloudy,0,100.09,Spring
2022-01-01,P0009,Electronics,West,183,175,135,174.15,20.74,10,Cloudy,0,17.66,Autumn
2022-01-01,P0010,Toys,South,108,28,196,24.47,59.99,0,Rainy,1,61.21,Winter

In [34]:
stores = [store_01, store_02, store_03, store_04, store_05]

for store in stores:
    # print(store['Product ID'].unique())
    grouped_products = store.groupby(["Product ID", "Category"])
    store = pd.DataFrame(data=grouped_products)

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [20]:
unique_df = store_01[['Product ID', 'Category']].drop_duplicates(subset=['Product ID'])
unique_df

           Product ID     Category
Date
2022-01-01      P0001    Groceries
2022-01-01      P0002         Toys
2022-01-01      P0003         Toys
2022-01-01      P0004         Toys
2022-01-01      P0005  Electronics
2022-01-01      P0006    Groceries
2022-01-01      P0007    Furniture
2022-01-01      P0008     Clothing
2022-01-01      P0009  Electronics
2022-01-01      P0010         Toys
2022-01-01      P0011    Furniture
2022-01-01      P0012     Clothing
2022-01-01      P0013         Toys
2022-01-01      P0014     Clothing
2022-01-01      P0015     Clothing
2022-01-01      P0016  Electronics
2022-01-01      P0017         Toys
2022-01-01      P0018     Clothing
2022-01-01      P0019     Clothing
2022-01-01      P0020         Toys

In [23]:
inconsistent = store_01.groupby('Product ID')['Category'].nunique() > 1

if inconsistent.any():
    print("Inconsistent mappings found for the following ProductIDs:")
    print(inconsistent[inconsistent].index.tolist())
else:
    print("All ProductIDs are consistently mapped to the same Category.")

Inconsistent mappings found for the following ProductIDs:
['P0001', 'P0002', 'P0003', 'P0004', 'P0005', 'P0006', 'P0007', 'P0008', 'P0009', 'P0010', 'P0011', 'P0012', 'P0013', 'P0014', 'P0015', 'P0016', 'P0017', 'P0018', 'P0019', 'P0020']

In [25]:
import os
directory_path = "../../1_datasets/processed_data"
if os.path.exists(directory_path):
    print("Directory Exists")
else:
    os.makedirs(directory_path)
store_01.to_csv(f"{directory_path}/store_01.csv")
print("Store_01 File Saved")

store_02.to_csv(f"{directory_path}/store_02.csv")
print("Store_02 File Saved")

store_03.to_csv(f"{directory_path}/store_03.csv")
print("Store_03 File Saved")

store_04.to_csv(f"{directory_path}/store_04.csv")
print("Store_04 File Saved")

store_05.to_csv(f"{directory_path}/store_05.csv")
print("Store_05 File Saved")

Directory Exists
Store_01 File Saved
Store_02 File Saved
Store_03 File Saved
Store_04 File Saved
Store_05 File Saved